@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;500;700&display=swap');
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
}


a {
    text-decoration: none;
    cursor: pointer;
}


li {
    list-style-type: none;
}

h1,
h2 {
    letter-spacing: .3mm;
    color: rgba(0, 0, 0, 0.911);
    font-size: 48px;
}

.purple {
    color: #6415ff;
}

p {
    font-size: 18px;
    color: rgba(0, 0, 0, 0.698);
}

.container {
    width: 100%;
    max-width: 1200px;
    margin: 0 auto;
}

.site__row {
    padding: 120px 0px;
    display: flex;
    margin: 0 auto;
    }

.nav__row {
    padding: 32px 0px;
    height: 100vh;
}

/* 

NAV

*/

#navigation {
    width: 100%;
    max-width: 1200px;
    margin: 0 auto;
    display: flex;
    justify-content: space-around;
}

.nav__bar {
    display: flex;
    justify-content: space-between;
    width: 100%;
    max-width: 1200px;
    background-color: white;
}

.nav__container {
    width: 100%;
    max-width: 150px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.logo__img {
    width: 100%;
    max-width: 40px;
}

.logo__name {
    font-size: 24px;
    color: rgb(36 62 99);
    padding-right: 8px;
    transition: color 300ms ease;
    cursor: pointer;
    font-weight: bold;
}

.logo__name:hover {
    color: #6415ff;
}

.nav__list {
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.nav__link,
.nav__link--primary {
    font-size: 14px;
    padding: 0 28px;
    font-weight: bold;
}

.nav__link {
color: rgb(36 62 99);
transition: all 300ms ease;
}

.nav__link:hover {
    color: #6415ff;
    text-decoration: underline;
}

.nav__link--primary {
    border: 10px solid #6415ff;
    border-radius: 28px;
    background-color: #6415ff;
    color: white;
    transition: opacity 300ms ease-in-out;
}

.nav__link--primary:hover {
    opacity: .9;
}

/* 

HEADER 

*/


.row {
padding: 120px 0px;
display: flex;
margin: 0 auto;
}

.header__title {
 margin-bottom: 32px;
}

.header__para--faint {
    margin-top: 88px;
}

.header__para {
    margin-bottom: 40px;
}


.header__email--wrapper {
    border: solid rgba(211, 211, 211, 0.507);
    border-radius: 30px;
    padding: 5px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    max-width: 400px;
}

input,
button {
    border: none;
    background-color: white;
    border-radius: 30px;
}


.header__email {
    font-size: 15px;
    padding: 0 40px;
    color: lightgray;
}

.header__btn {
    font-size: 15px;
    color: white;
    background-color: #6415ff;
    border-radius: 30px;
    padding: 15px;
}

.header__para--faint,
.header__img {
    opacity: .4;
    font-size: 15px;
    font-weight: bold;
}

.header__para--faint {
    margin-bottom: 25px;
}

.header__img {
    width: 100%;
max-width: 400px;
}

.header__column {
    width: 40%;
    padding-right: 40px;
}

.header__column--img {
    width: 60%;
}

.header__column-img {
    width: 100%;
}

/* FEATURES */

.features__row {
    text-align: center;
}

.features__title {
    font-size: 16px;
    color: #6415ff;
    font-weight: bold;
    margin-bottom: 8px;
}

.features__para {
    
}